{% extends 'base.html.twig' %}
{% block body %}
 {% block section %}
           <section>
   
  </section>
        {% endblock %}

<main id="main">
<!-- ======= Pricing Section ======= -->
   <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Our Pricing</h2>
            <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>
        </div>

        <div class="row gy-4">
            {% for participation in participations %}
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3>{{ participation.event.nom }}</h3>
                        <h4><sup></sup><span>{{ participation.event.dateDebut|date }}</span></h4>
                    </div>
                    <ul>
                        <li><i class="bi bi-geo-alt flex-shrink-0"></i> <span>Localisation</span></li>
                        <p class="text-center mt-auto" style="color: var(--color-primary)">{{ participation.event.localisation }}</p>
                        <li><i class="bi bi-phone flex-shrink-0"></i> <span>Nombre places disponibles</span></li>
                        <p class="text-center mt-auto" style="color: var(--color-primary)">{{ participation.event.getNbMax - participation.event.getNbParticipants }}</p>
                        <li><i class="bi bi-envelope flex-shrink-0"></i> <span>Description</span></li>
                        <p class="text-center mt-auto" style="color: var(--color-primary)">{{ participation.event.description }}</p>
                    </ul>
                   
                    <div class="text-center mt-auto">
                                        <a href="{{ path('detail_particip', {'eventId': participation.event.id,'userId': participation.User.id}) }}" class="buy-btn">Mon Pass</a>
                                </div>
                    <div class="remaining-time"></div> <!-- This div will hold the countdown timer -->
                </div>
            </div><!-- End Pricing Item -->
            {% endfor %}
        </div>
    </div>

    </section>
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores adipisci aliquam.</p>
        </div>

      </div>

      

      <div class="container">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-4">

            <div class="info">
              <h3>Get in touch</h3>
              <p>Et id eius voluptates atque nihil voluptatem enim in tempore minima sit ad mollitia commodi minus.</p>

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{% endblock %}