 <table>
        <tr>
            <td><h4>Author</h4></td>
            <td><h4>email</h4></td>
        </tr>
    {% for a in users %}
    <tr>
        <td>
        {{ a.idUser }} 
        </td>
        <td>
        {{ a.email }} 
        </td>
        {# <td><a href="{{ path('app_getOne', {id: a.idUser}) }}">details</a> #}
        </td> 
        </td>
        {# <td><a class="modifier" href="{{ path('author_update', {id: a.idUser}) }}" >modifier</a> #}
        </td> 
        {# <td><a href="{{ path('author_remove', {id: a.idUser}) }}" class="supprimer">supprimer</a> #}
        </td> 
    </tr>
    {% endfor %}
    </table>