{{ form_start(form, {'attr': {'class': 'mt-4 mb-4'}}) }}

<style>
  

    .card {
        border-radius: 12px;
        border: none;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        width : 500px;
        margin : auto;
        padding : 25px;
    }

    .card-title {
        color: #333;
    }

    .form-label {
        color: #666;
    }

    .form-control {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
    }

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
    
</style>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            {{ form_label(form.dateActivite, 'Date Activite', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.dateActivite, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.typeactivite, 'Type Activite', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.typeactivite, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.heurefermuture, 'Heure Fermuture', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.heurefermuture, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.idgym, 'ID Gym', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.idgym, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>

{{ form_end(form) }}
