{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<style>
    .custom-table {
        width: 80%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    .custom-table th,
    .custom-table td {
        padding: 12px;
        text-align: left;
    }

    .custom-table th {
        background-color: #f8f9fa;
        color: #6c757d;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        border-bottom: 1px solid #dee2e6;
    }

    .custom-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .custom-table tbody tr:hover {
        background-color: #e2e6ea;
    }

    .actions a {
        margin-right: 10px;
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s ease;
    }

    .actions a:hover {
        color: #0056b3;
    }

    .btn-create {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .btn-create:hover {
        background-color: #0056b3;
    }
</style>
<h1 class="text-center mt-4">Calendar</h1>
<table class="custom-table mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Closing Time</th>
            <th>Gym ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for calendar in calandriers %}
        <tr>
            <td>{{ calendar.idcalandrier }}</td>
            <td>{{ calendar.dateActivite ? calendar.dateActivite|date('Y-m-d') : '' }}</td>
            <td>{{ calendar.typeactivite }}</td>
            <td>{{ calendar.description }}</td>
            <td>{{ calendar.heurefermuture }}</td>
            <td>{{ calendar.idgym }}</td>
            <td class="actions">
                <a href="{{ path('app_calandrier_show', {'idcalandrier': calendar.idcalandrier}) }}">Show</a>
                <a href="{{ path('app_calandrier_edit', {'idcalandrier': calendar.idcalandrier}) }}">Edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">No records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_calandrier_new') }}" class="btn-create d-block text-center mt-4">Create New</a>
{% endblock %}
