<<<<<<< HEAD
<<<<<<< HEAD
<!DOCTYPE html>
=======
 <!DOCTYPE html>
>>>>>>> 649ef9c620e35f87ee5e3746f7e798e948fc7cc4
=======
 <!DOCTYPE html>
>>>>>>> 0f9be098c09a370d9b7246eec13ee77203b60875
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
.sidebar {
  flex: 1;
  height: 100vh;
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;

=======
=======
>>>>>>> 0f9be098c09a370d9b7246eec13ee77203b60875
  background-color: rgb(251, 251, 255);
  position: fixed;
  top: 0;
  left : 0;
  width : 230px;
  align-items : center;
  overflow: scroll !important;
<<<<<<< HEAD
>>>>>>> 649ef9c620e35f87ee5e3746f7e798e948fc7cc4
=======
>>>>>>> 0f9be098c09a370d9b7246eec13ee77203b60875
}

.sidebarWrapper {
  padding: 18px;
  color: #555;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  align-items :center;
>>>>>>> 649ef9c620e35f87ee5e3746f7e798e948fc7cc4
=======
  align-items :center;
>>>>>>> 0f9be098c09a370d9b7246eec13ee77203b60875
}

.sidebarList {
  list-style: none;
  padding: 0;
}

.sidebarListItem {
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 10px;
=======
  padding: 9px;
>>>>>>> 649ef9c620e35f87ee5e3746f7e798e948fc7cc4
=======
  padding: 9px;
>>>>>>> 0f9be098c09a370d9b7246eec13ee77203b60875
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #f0f0f0;
}

.sidebarIcon {
  margin-right: 10px;
  font-size: 20px;
}

.sidebarTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

</style>
</head>
<body>
<div class="sidebar">
    <div class="sidebarWrapper">
      <div class="sidebarMenu">
        <h3 class="sidebarTitle">Dashboard</h3>
        <ul class="sidebarList">
          <li class="sidebarListItem active">
            <span class="material-icons sidebarIcon">home</span>
            <a href="{{ path('dashboard') }}">Home</a>
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">show_chart</span>
            <a href="{{ path('analystic') }}">Analytics</a>
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">trending_up</span>
            <a href="{{ path('abonnement_index') }}" >Sales</a>
          </li>
        </ul>
      </div>
      <div class="sidebarMenu">
        <h3 class="sidebarTitle">Quick Menu</h3>
        <ul class="sidebarList">
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">group</span>
            <a href="{{ path('users') }}">Users</a>
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">sports</span>
            Coachs
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">sports</span>
            <a href="{{ path('programs') }}">Programs</a>
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">production_quantity_limits</span>
            <a href="{{ path('products') }}">Products</a>
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">fitness_center</span>
            <a href="{{ path('gyms') }}">Gyms</a>
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">attach_money</span>
            Transactions
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">report</span>
            <a href="{{ path('reclamation') }}">Reclamations</a>
          </li>
          <li class="sidebarListItem">
            <span class="material-icons sidebarIcon">chat_bubble</span>
            <a href="http://localhost:3000">Messages</a>
          </li>
        </ul>
      </div>
      <ul class="sidebarList">
        <li class="sidebarListItem">
          <span class="material-icons sidebarIcon">logout</span>
          <a href="{{ path('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
=======
=======
>>>>>>> 0f9be098c09a370d9b7246eec13ee77203b60875
  background-color: rgb(240, 240, 255);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 18px !important;
}
li , a{
  text-decoration: none;
  color : black;
  align-items:center;
  margin-left: 5px; 
}


ul {
  align-items: center;
}
</style>
 <body>
 <div class="sidebar">
      <div class="sidebarWrapper">
        <div class="sidebarMenu">
          <h3 class="sidebarTitle">Dashboard</h3>
          <ul class="sidebarList">
            {# <Link to="/" class="link"> #}
            <li class="sidebarListItem active ">
            <span class="material-symbols-outlined">
home
</span>
              <LineStyle class="sidebarIcon" />
             <a href="{{ path('dashboard') }}">Home</a>
            </li>
            {# </Link> #}
            <li class="sidebarListItem">
              <Timeline class="sidebarIcon" />
              <span class="material-symbols-outlined">
show_chart
</span>
              <a href="{{ path('analystic') }}">Analytics</a>
            </li>
            <li class="sidebarListItem">
              <TrendingUp class="sidebarIcon" />
              <span class="material-symbols-outlined">
real_estate_agent
</span>
              Sales
            </li>
          </ul>
        </div>
        <div class="sidebarMenu">
          <h3 class="sidebarTitle">Quick Menu</h3>
          <ul class="sidebarList">
            {# <Link to="/users" class="link"> #}
              <li class="sidebarListItem">
                <PermIdentity class="sidebarIcon" />
                <span class="material-symbols-outlined">
group
</span>
                   <a href="{{ path('users') }}">Users</a>
              </li>
              <li class="sidebarListItem">
                <PermIdentity class="sidebarIcon" />
                <span class="material-symbols-outlined">
sports
</span>
                Coachs
              </li>
              <li class="sidebarListItem">
                <PermIdentity class="sidebarIcon" />
                <span class="material-symbols-outlined">
energy_program_time_used
</span>
                  <a href="{{ path('programs') }}">Programs</a> 
              </li>
            {# </Link> #}
            {# <Link to="/products" class="link"> #}
              <li class="sidebarListItem">
                <Storefront class="sidebarIcon" />
                <span class="material-symbols-outlined">
production_quantity_limits
</span>
                <a href="{{ path('produts') }}">Products</a> 
              </li>
              <li class="sidebarListItem">
                <Storefront class="sidebarIcon" />
                <span class="material-symbols-outlined">
fitness_center
</span>
                <a href="{{ path('gyms') }}">Gyms</a> 
              </li>
            {# </Link> #}
            <li class="sidebarListItem">
            <span class="material-symbols-outlined">
paid
</span>
              <AttachMoney class="sidebarIcon" />
              Transactions
            </li>
            <li class="sidebarListItem">
            <span class="material-symbols-outlined">
report
</span>
              <BarChart class="sidebarIcon" />
             <a href="{{ path('reclamation') }}">Reclamations</a>  
            </li>
             <li class="sidebarListItem">
             <span class="material-symbols-outlined">
chat_bubble
</span>
              <ChatBubbleOutline class="sidebarIcon" />
              Messages
            </li>
          </ul>
        </div> 
          <ul class="sidebarList">
          <a href="{{path('logout')}}">
            <li class="sidebarListItem">
            <span class="material-symbols-outlined">logout</span>
              <ChatBubbleOutline class="sidebarIcon" />
              Logout
            </li>
             </a>
          </ul>
        </div>
      
<<<<<<< HEAD
    </div>
>>>>>>> 649ef9c620e35f87ee5e3746f7e798e948fc7cc4
=======
    </div>
>>>>>>> 0f9be098c09a370d9b7246eec13ee77203b60875
